# Auto detect text files and perform LF normalization
* text=auto
Assets/Dive/Scenes/Lab[[:space:]]3.unity filter=lfs diff=lfs merge=lfs -text
Assets/DIVE/Scenes/Lab[[:space:]]3.unity filter=lfs diff=lfs merge=lfs -text
